<%- include('partials/header')%>
      
    <div class="container w-50 maindiv">
    
       <div class="w-50  inner">
        <h4>Create new User</h4>
            <a href="/newUser">click here </a>
       </div>
       
       <div class="w-50 inner">
        <h4>Create taskUser</h4>
        <a href="/newTask">click here </a>
   </div>
   <div class="w-50 inner">
    <h4>Get excel sheet</h4>
    <a class="tag" href="/sheet">click here </a>
</div>
     
    </div>
    
    <%- include('partials/footer')%>
